.portfolio-heading {
  font-size: 82px;
  font-weight: 700;
  background: linear-gradient(
    to top,
    rgb(147, 147, 147),
    rgb(200, 200, 200),
    rgb(255, 255, 255)
  );
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.portfolio-name {
  font-size: 56px;
  font-weight: 700;
  background: linear-gradient(30deg, rgb(143, 117, 0), rgb(255, 255, 255));
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.portfolio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 36px;
  border-radius: 12px;
  z-index: 100;
}
.portfolio-details {
  flex: 1;
  z-index: 100;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
}
.portfolio-cta {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}
.portfolio-profile {
  width: 200px;
  margin-bottom: 12px;
}
.portfolio-image {
  width: 100%;
  border-radius: 100px;
}
@media (max-width: 920px) {
  .portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
  }
  .portfolio-details {
    text-align: center;
    margin: 0;
  }
  .portfolio-profile {
    width: 300px;
    margin-top: 18px;
  }
  .portfolio-image {
    border-radius: 150px;
  }
}
